.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .left {
    margin-right: 1rem;
  }

  .right {
    max-width: 800px;
    .author {
      margin: 0 4px;
    }
  }
}

.row {
  display: flex;
  button {
    margin: 0 16px;
  }
  h2 {
    // minus margin minus width
    max-width: calc(100% - 40px - 32px);
  }
}
