<div class="wrapper">
  <div class="left">
    <img [src]="data.volumeInfo?.imageLinks?.thumbnail" [alt]="data.volumeInfo?.title">
  </div>
  <div class="right">
    <div class="row">
      <h2>{{data.volumeInfo?.title}}</h2>
      <button mat-icon-button *ngIf="!existOnCart()" color="accent" aria-label="favorite icon" matTooltip="Add to cart" (click)="addToCart()">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button *ngIf="existOnCart()" color="accent" aria-label="favorite icon" matTooltip="Remove from cart" (click)="deleteFromCart()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <p><b>by</b> <span class="author" *ngFor="let a of data.volumeInfo?.authors">{{a}}</span>.</p>
    <p *ngIf="data.volumeInfo?.description">{{data.volumeInfo?.description}}</p>
    <p *ngIf="data.volumeInfo?.publisher"><b>Publisher:</b> {{data.volumeInfo?.publisher}}.</p>
    <p *ngIf="data.volumeInfo?.publishedDate"><b>Published date:</b> {{data.volumeInfo?.publishedDate | date}}.</p>
  </div>
</div>
