.spacer {
  flex: 1 1 auto;
}

.left {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  outline: none;
}

.greeting {
  margin: 0 8px;
  font-size: 14px;
  color: #7fffd4;
}

.mobile {
  display: none;
}

.btns-header {
  button {
    margin: 0 2px;
  }
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .btns-header {
    display: flex;

  }
}
