<h2 *ngIf="!_cartMode">Books</h2>
<h2 *ngIf="_cartMode">Cart items</h2>

<form>
  <mat-form-field appearance="outline">
    <input matInput type="text" placeholder="Search book" aria-label="Area" [formControl]="searchControl">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<ng-container *ngIf="dataLength > 0">
  <mat-paginator
    [length]="dataLength"
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 50, 100]"
    (page)="pageChange($event)">
  ></mat-paginator>
</ng-container>

<app-books [books]="booksResults$ | async"></app-books>
