@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$bookSearch-primary: mat.define-palette(mat.$grey-palette, 900, 800);
$bookSearch-accent: mat.define-palette(mat.$teal-palette, 500, A100, A400);
$bookSearch-warn: mat.define-palette(mat.$red-palette);
$bookSearch-theme: mat.define-light-theme((
  color: (
    primary: $bookSearch-primary,
    accent: $bookSearch-accent,
    warn: $bookSearch-warn,
  )
));

@include mat.all-component-themes($bookSearch-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btns {
  display: flex;
  justify-content: center;
}
